@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Import Tailwind directives harus di atas */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan gaya kustom di bawah ini */
body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}
